@import "../../assets/global-styles.scss";
.about-page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  div {
    position: relative;
  }
  .more-info-wrapper {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.9px solid black;
    color: white;
    border-radius: $main-radius;
    box-shadow: $main-shadow;
    overflow: hidden;
    margin-top: 2rem;
    @media screen and (max-width: 800px) {
      width: 90vw;
      height: 40vh;
    }
    .more-info-header {
      border-top-left-radius: $main-radius;
      border-top-right-radius: $main-radius;
      color: white;
      width: 100%;
      height: 3rem;
      background: $header-color;
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    text-align: center;
    font-family: $main-font;

    .more-info-body {
      font-size: 1rem;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-bottom-right-radius: $main-radius;
      border-bottom-left-radius: $main-radius;
      background: white;
      box-shadow: $main-shadow;
      span {
        max-width: 100%;
        max-height: 100%;
        text-overflow: clip;

        font-size: 0.9rem;
        u {
          color: $main-dark-blue;
        }
        u:hover {
          color: aqua;
        }
      }
      span:hover {
        transform: scale(1.1);
      }
    }
  }
}
