@import "../../../assets/global-styles.scss";

.hod-wrapper {
  height: 104vh;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.9px solid black;
  color: white;
  border-radius: $main-radius;
  box-shadow: $main-shadow;
  overflow: hidden;
  width: 60vw;
  @media screen and (max-width: 800px) {
    margin-top: 1rem;
    width: 90vw;
  }
  .hod-header {
    color: white;
    border-top-left-radius: $main-radius;
    border-top-right-radius: $main-radius;
    width: 100%;
    height: 3rem;
    background: $header-color;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  text-align: center;
  font-family: $main-font;
  .hod-title {
  }
  .hod-body {
    color: black;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: $main-radius;
    border-bottom-right-radius: $main-radius;
    background: white;
    .body-title {
      padding: 1rem;
    }
  }
}
