@import "../../../assets/global-styles.scss";
.dev-info-wrapper {
  width: 30vw;
  height: 90vh;
  .dev-info-header {
    color: white;
    border-top-left-radius: $main-radius;
    border-top-right-radius: $main-radius;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    height: 3rem;
    background: $header-color;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dev-info-body {
    color: white;
    height: 90vh;
    width: 100%;
    border-bottom-left-radius: $main-radius;
    border-bottom-right-radius: $main-radius;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        54.45% 77.04% at 60.25% 22.96%,
        #8f8f8f 0%,
        rgba(143, 143, 143, 0) 90.62%,
        rgba(143, 143, 143, 0) 100%
      );
  }
}
