@import "../../assets/global-styles.scss";
.header-wrapper {
  max-width: 100%;
  background: $header-color;
  box-shadow: 2px 4px 4px 1px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  font-family: $main-font;
  color: white;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    height: 10rem;
    width: 100%;
  }
}
