@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=ZCOOL+QingKe+HuangYou&display=swap");
$main-font: "Roboto Slab", serif;
$header-color: linear-gradient(
  90deg,
  #e7fbff 0%,
  #77a9b4 31.77%,
  #678085 73.44%,
  #42656c 100%
);
$page-background: #ececec;
$main-radius: 20px;
$main-shadow: 2px 4px 4px 1px rgba(#000000, 0.4);
$main-light-blue: #3bb0ca;
$main-dark-blue: #1d5562;
$cool-font: "ZCOOL QingKe HuangYou", cursive;
$banner-header: linear-gradient(
  90deg,
  #e7fbff 0%,
  #909da0 31.77%,
  #678085 73.44%,
  #545d5f 100%
);
