@import "../../assets/global-styles.scss";
.login-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $cool-font;

  form[type="submit"] {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 20%;
    padding: 1rem 4rem;
    background: $header-color;
    border-radius: 2px;
    font-weight: 600;
    border: 4px solid black;
    color: $main-dark-blue;
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    .form-title {
      font-size: 1.2rem;
      color: white;
    }
    .input-wrapper {
      margin: 0.3rem;
      .label {
        margin: 0.3rem 0;
      }
    }
    .footer-text {
      .failure {
        color: "red";
      }
    }
  }
}
